/* 导入 Tailwind CSS 基础样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义全局样式 */
body {
  font-family: Arial, sans-serif;
}

.smooth-transition {
  @apply transition-all duration-300 ease-in-out;
}

.bd-card {
  @apply card shadow-sm border border-base-300 w-full h-full;
}

.no-bd-card {
  @apply card shadow-sm w-full h-full rounded-md;
}

.grid-nx6 {
  grid-template-columns: repeat(6, 67.5px);
  grid-auto-rows: 67.5px;
}

.grid-nx4 {
  grid-template-columns: repeat(4, 67.5px);
  grid-auto-rows: 67.5px;
}

/* .oben-card-title {
  @apply card-title line-clamp-1
} */

/* 其他自定义样式... */