/* 导入 Tailwind CSS 基础样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义全局样式 */
body {
  font-family: Arial, sans-serif;
}

.smooth-transition {
  @apply transition-all duration-300 ease-in-out;
}

.bd-card {
  @apply card shadow-sm border border-base-300 w-full h-full rounded-3xl;
}

.no-bd-card {
  @apply card shadow-sm w-full h-full rounded-3xl;
}

.no-bd-card.image-fill {
  display:grid
}

.no-bd-card.image-fill > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.album {
  @apply carousel shadow-sm w-full h-full rounded-3xl;
}

.card-body-sm {
  @apply card-body px-5 py-4
}

.card-body-lg {
  @apply card-body px-5 py-6
}

.grid-nx8 {
  grid-template-columns: repeat(8, 67.5px);
  grid-auto-rows: 67.5px;
}

.grid-nx6 {
  grid-template-columns: repeat(6, 67.5px);
  grid-auto-rows: 67.5px;
}

.grid-nx4 {
  grid-template-columns: repeat(4, 67.5px);
  grid-auto-rows: 67.5px;
}

/* .oben-card-title {
  @apply card-title line-clamp-1
} */

/* 其他自定义样式... */