---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Note from '../components/Note.astro';
import Link from '../components/Link.astro';
import Photo from '../components/Photo.astro';
import Album from '../components/Album.astro';
import Social from '../components/Social.astro'
// import Map from '../components/Map.astro'
import Profile from '../components/Profile.astro';
import Section from '../components/Section.astro';
import Showcase from '../components/Showcase.astro';
---
<Layout>

	<Profile myname="John Smith" mybio="A time traveler" myavatar="/imgs/avatar.jpeg"/>

	<Showcase>

		<!-- <div class="carousel carousel-center rounded-box">
			<div class="carousel-item">
			  <img src="https://placeimg.com/800/400/arch" alt="Carousel Image 1" />
			</div>
			<div class="carousel-item">
			  <img src="https://placeimg.com/800/400/nature" alt="Carousel Image 2" />
			</div>
			<div class="carousel-item">
			  <img src="https://placeimg.com/800/400/people" alt="Carousel Image 3" />
			</div>
		  </div>
		  
		  <div class="flex justify-center mt-4">
			<div class="carousel-dots">
			  <button class="carousel-dot w-2 h-2 rounded-full bg-gray-400 mx-1 active"></button>
			  <button class="carousel-dot w-2 h-2 rounded-full bg-gray-400 mx-1"></button>
			  <button class="carousel-dot w-2 h-2 rounded-full bg-gray-400 mx-1"></button>
			</div>
		  </div>
		  
		  <style>
			.carousel-dot.active {
			  @apply bg-gray-700;
			}
		  </style> -->

		<Section
			content="Preface"
		/>

		<!-- <Section header="Brief Intro"/> -->
		<Note
			title="What's my hobby"
			content="find aliens!"
			shape="tofu"
			bgColor="from-green-500 to-yellow-300"
		/>

		<Link
			content="This is my homepage zero"
			shape="tteok"
			url="www.instagram.com"
		/>
				
		<Section
			content="Chapter I"
		/>

		<Note
			title="PPPPPPP"
			content="cool!"
			shape="puff"
			bgColor="bg-blue-300"
			textColor="text-black"
		/>


		<Note
			title="PPPPQQQ"
			content="cool!"
			shape="puff"
			bgColor="bg-yellow-300"
			textColor="text-white"
		/>

		<Note
			title="aloha"
			content="helllllo"
			shape="tofu"
			bgColor="bg-green-500"
			textColor="text-yellow-300"
		/>
		
		<Social
			platform="X"
			userId="@johnsmith416"
			content="John Smith"
			shape="puff"
		/>
		
		<Note
			title="aloha2"
			content="helllllo"
			shape="puff"
			bgColor="bg-pink-500"
			textColor="text-white-300"
		/>
		
		<Social
			platform="Instagram"
			userId="@johnsmith111"
			content="John Smith 2"
			shape="chikuwa"
		/>
				
		<Section
			content="Chapter II"
		/>

		<Link
			content="This is my homepage"
			shape="tteok"
			url="www.baidu.com"
		/>

		<Link
			content="Goooooooooooogle"
			shape="tofu"
			url="www.google.com"
		/>

		<Photo
			title="caaat"
			content="This is my cat"
			shape="chikuwa"
			imgUrl="/imgs/cats.jpg"
		/>


		<!-- <Code
			content=""
			shape="tofu"
		/> -->

		<!-- <Map
			content="Westlake"
			address="Hangzhou,China"
			shape="tofu"
			zoom="10"
			textColor="black"
		/> -->
	</Showcase>

</Layout>
