---

export interface Props {
  content: string;
}

const {
  content,
} = Astro.props;

---

<div class="col-span-full flex flex-col items-start justify-center">
  <h1 class="text-3xl font-bold">{content}</h1>
</div>