---

export interface Props {
  title: string;
  subtitle?: string;
}

const {
  title,
  subtitle
} = Astro.props;

---

<div class="col-span-full flex flex-col items-start justify-center">
  <h1 class="text-3xl font-bold mb-2">{title}</h1>
  {subtitle && <h2 class="text-xl font-medium text-gray-600">{subtitle}</h2>}
</div>