---

---
<div class="flex h-full w-full max-w-[428px] flex-1 flex-col p-6 pt-0 xl:max-w-[1728px] xl:flex-row xl:p-16"
data-bento-container="true">
    <div class="mb-10 flex flex-col px-4 xl:mb-0 xl:mr-20 xl:flex-1 xl:px-0"></div>
    <div class="relative flex-1 xl:w-[820px] xl:flex-none" data-grid-dropzone="true">

        <div class="grid gap-10 max-w-4xl mx-auto grid-cols-4 grid-nx4 xl:grid-cols-8 xl:grid-nx8">
            <slot />
        </div>
    </div>
</div>
